.bar {
  height: 40px;
  width: 100%;
  background-color: royalblue;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  margin-left: 70px;
  color: white;
  font-size: 16px;
}

.spacer {
  margin-left: auto;
  margin-right: auto;
}

.icon {
  font-size: 32px;
  color: #f7b32d;
  margin-right: 10px;
  height: 32px;
  width: 32px;
}
